<h1><%= @system.name %></h1>
<a href="/trail_systems/<%= @system.id %>/edit">Update Trail System</a>
<p>Has fee: <%= @system.has_fee %></p>
<p>Highest trailhead: <%= @system.highest_trailhead %></p>
<p>Number Of Trails: <%= @system.count_of_trails %></p>
<p><%= link_to "Trails in this system", "/trail_systems/#{@system.id}/trails" %></p>
